.dropdown {
  position: relative;

  &:hover .dropdown__content {
    display: flex;
  }

  &:hover .dropdown__title {
    color: var(--nav-item-hover-color);
    border-color: #0091ea;
    background: var(--nav-item-hover-background-color);
  }

  &:hover > .dropdown__title > svg {
    fill: var(--nav-item-hover-color);
  }
}

@keyframes slide-up {
  from {
    opacity: 0;
    margin-top: 0.5rem;
  }

  to {
    opacity: 1;
    margin-top: 0;
  }
}

.dropdown__title {
  height: 100%;

  border-bottom: none;
  border-left: none;
  border-right: none;
  outline: none;

  background: transparent;

  & > svg {
    fill: var(--nav-item-color);
  }
}

.dropdown__content {
  box-sizing: border-box;

  display: none;
  position: absolute;
  z-index: 1;

  flex-direction: column;
  justify-content: center;
  align-items: stretch;

  animation: slide-up 0.2s ease-in-out;

  border: solid 2px var(--node-content-border-color);
  border-radius: 6px;

  box-shadow: 0 0.1rem 1rem -10px var(--editor-button-shadow);

  background: var(--node-content-background-color);
}

.dropdown__content::before {
  $triangle-size: 1rem;

  content: '';
  position: absolute;
  z-index: -1;

  left: 25%;
  top: -$triangle-size / 2;
  width: $triangle-size;
  height: $triangle-size;
  transform: translateX(-50%) rotate(45deg);

  background: var(--node-content-border-color);
}

.dropdown__item {
  display: flex;
  align-items: center;

  border: none;
  outline: none;

  padding: 0.75rem 1rem;

  cursor: pointer;

  font-size: 0.9rem;
  text-align: left;
  white-space: nowrap;

  color: var(--nav-item-color);
  background: var(--node-content-background-color);

  transition: background-color 0.2s ease-in-out;

  &:hover {
    color: var(--nav-item-hover-color);
    background: var(--nav-item-hover-background-color);

    &:hover > svg {
      fill: var(--nav-item-hover-color);
    }
  }

  $border-radius: 4px;

  &:first-child {
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;
  }

  &:last-child {
    border-bottom-left-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }

  & > svg {
    width: 1.2em;
    fill: var(--nav-item-color);
  }
}