.node {

}

.node__header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  color: white;

  border-radius: 6px;

  padding: 0 6px;

  transition: border 150ms ease-in-out, background-color 150ms ease-in-out;

  &.node__header_selected {
    border-color: var(--node-selected-color);
  }
}

.node__header_theme_default {
  background: var(--node-default-background-color);
  border: solid 2px var(--node-default-border-color);

  &:hover {
    background: var(--node-default-hover-color);
  }
}

.node__header_position_center {
  position: absolute;
  transform: translate(-50%, -50%);
}

.node__header__portContainer {
  padding: 0 4px;
}

.node__title {
  font-family: "Yandex Sans", sans-serif;

  font-weight: 500;
  font-size: 1rem;
  margin: 6px;

  white-space: nowrap;
}

.node__title_icon_only {
  padding: 8px 6px;
}

.node__icon {
  fill: white;
  opacity: 0.8;
}

.node__port {
  cursor: pointer;

  width: 12px;
  height: 12px;
  border-radius: 50%;

  transition: background-color 250ms ease-in-out;
}

.node__port_ClickArea_big {
  position: absolute;
  width: 200%;
  height: 200%;
  transform: translate(-25%, -25%);
}

.node__port_theme_default {
  background-color: white;

  &:hover {
    background-color: var(--port-background-color-hover);
  }
}

.node__portIn_position_border {
  position: absolute;
  left: 0;
  transform: translate(-60%, -50%);
}

.node__portOut_position_border {
  position: absolute;
  right: 0;
  transform: translate(60%, -50%);
}

.node__content {
  border: solid var(--node-content-border-color);
  border-width: 2px 2px 2px 2px;
  border-radius: 6px 6px 6px 6px;

  background: var(--node-content-background-color);

  padding: 20px 10px 10px 10px;

  font-family: "Yandex Sans", sans-serif;
  color: var(--font-color);
}

.node__content_position_center {
  position: absolute;

  z-index: -1;
  transform: translateX(-50%);
}

.node__content_layout_column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

:global(.theme-light) {
  --node-default-background-color: #6200ea;
  --node-default-border-color: #9d46ff;
  --node-default-hover-color: #4a00b3;

  --port-background-color-hover: #76ff03;
}

:global(.theme-dark) {
  --node-default-background-color: #6200ea;
  --node-default-border-color: #ffffff;
  --node-default-hover-color: #4a00b3;

  --port-background-color-hover: #76ff03;
}