//TODO: сделать кнопку отдельным компонентом EditorButton (с опциональной иконкой)
.editorButton {
  border: none;
  outline: none;

  width: 2.25rem;
  height: 2.25rem;

  border-radius: 50%;

  background: var(--editor-button);
  box-shadow: 0 0.2rem 0.75rem -2px var(--editor-button-shadow);

  cursor: pointer;

  transition: background 250ms ease-in-out, box-shadow 150ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;

  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background: var(--editor-button-hovered);
  }

  &:hover {
    box-shadow: 0 0.2rem 0.95rem -1px #9f9f9f;
  }

  &:active {
    transform: scale(0.97);
  }

  & svg {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;

    width: 1.2rem;
    fill: var(--editor-button-icon);
  }
}

:global(.theme-light) {
  --editor-button: #ffffff;
  --editor-button-hovered: #efefef;
  --editor-button-shadow: #9f9f9f;
  --editor-button-icon: #000000;
}

:global(.theme-dark) {
  --editor-button: #292929;
  --editor-button-hovered: #191919;
  --editor-button-shadow: #9f9f9f;
  --editor-button-icon: #ffffff;
}