.editor {
}

.editor__nodePaletteWrapper {
  display: flex;
  align-items: center;
  align-self: stretch;

  padding-left: 10px;

  font-family: "Yandex Sans", sans-serif;
  color: var(--font-color);
  border-left: solid 2px var(--node-content-border-color);
  border-right: solid 2px var(--node-content-border-color);
}

.editor__avatarWrapper {
  display: flex;
  margin-left: 3vw;
}

.editor__formulaPaletteWrapper {
  display: flex;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 0;
  width: calc(2.25rem + 40px);
  height: 100%;

  z-index: 1;

  border-right: solid 2px var(--node-content-border-color);
  background-color: var(--node-content-background-color);
}
