.node__header_theme_processing {
  background: var(--processing-node-background-color);
  border: solid 2px var(--processing-node-border-color);

  &:hover {
    background: var(--processing-node-hover-color);
  }
}

.node__port_theme_processing {
  background-color: var(--processing-node-border-color);

  &:hover {
    background-color: var(--port-bg-color-hover);
  }
}

:global(.theme-light) {
  --processing-node-background-color: #00c853;
  --processing-node-border-color: #5efc82;
  --processing-node-hover-color: #009940;
}

:global(.theme-dark) {
  --processing-node-background-color: #00c853;
  --processing-node-border-color: #ffffff;
  --processing-node-hover-color: #009940;
}
