.node__header_theme_processing {
  background: var(--processing-node-background-color);
  border: solid 2px var(--processing-node-border-color);

  &:hover {
    background: var(--processing-node-hover-color);
  }
}

.node__port_theme_processing {
  background-color: var(--processing-node-border-color);

  &:hover {
    background-color: var(--port-background-color-hover);
  }
}

.node__formulaEditor {
  margin-top: 0.5rem;
  padding: 0 0.5rem;

  color: var(--font-color);
  background: transparent;

  font-size: 16px;
  font-family: sans-serif;

  user-select: none;
  pointer-events: auto;
}

:global(.theme-light) {
  --processing-node-background-color: #00c853;
  --processing-node-border-color: #5efc82;
  --processing-node-hover-color: #009940;
}

:global(.theme-dark) {
  --processing-node-background-color: #00c853;
  --processing-node-border-color: #ffffff;
  --processing-node-hover-color: #009940;
}
