.buttonContainer {
  position: absolute;
  right: 0;

  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;

  z-index: 4;

  margin: 20px;
}

.zoomContainer {
  display: flex;
  flex-direction: column;
}

.buttonInc {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;

  margin-bottom: 1px;
}

.buttonDec {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}

.buttonResetZoom {
  margin-top: 15px;
  composes: editorButton_round from '../editor-button/EditorButton.module.scss';
}