.node__header_theme_branch {
  background: var(--branch-node-background-color);
  border: solid 2px var(--branch-node-border-color);

  &:hover {
    background: var(--branch-node-hover-color);
  }
}

.node__port_theme_branch {
  background-color: var(--branch-node-border-color);

  &:hover {
    background-color: var(--port-bg-color-hover);
  }
}

:global(.theme-light) {
  --branch-node-background-color: #6200ea;
  --branch-node-border-color: #9d46ff;
  --branch-node-hover-color: #4a00b3;
}

:global(.theme-dark) {
  --branch-node-background-color: #6200ea;
  --branch-node-border-color: #ffffff;
  --branch-node-hover-color: #4a00b3;
}
