.nodeWidget {
  font-family: "Yandex Sans";
  color: var(--font-color);

  display: flex;
  justify-content: center;
}

.nodeHeader {
  color: white;
  background: var(--branch-node-primary-color);
  border: solid 2px var(--branch-node-border-color);
  border-radius: 6px;

  z-index: 2;
  position: absolute;
  transform: translateY(-50%);

  display: flex;
  align-items: center;
  justify-content: space-between;

  &:hover {
    background: var(--branch-node-hover-color);
  }

  &.selected {
    border-color: var(--node-selected-color);
  }
}

//TODO: выделенные ноды надо чем-то отмечать прям стопроц, а то непонятно
// (можно одним цветом, можно разными, лучше одним? так юзеру понятнее)

.nodeTitle {
  font-weight: 500;
  font-size: 1rem;
  margin: 6px;
}

.nodeIcon {
  margin: 6px 16px;
  opacity: 0.8;

  pointer-events: none;
}

.nodeContent {
  position: absolute;
  transform: translateX(-50%);
  z-index: 0;

  border: solid var(--node-content-border-color);
  border-width: 2px 2px 2px 2px;
  border-radius: 6px 6px 6px 6px;

  background: var(--node-content-background-color);

  padding: 30px 10px 10px 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.circlePort {
  position: absolute;

  cursor: pointer;

  width: 12px;
  height: 12px;
  margin: 2px;
  border-radius: 50%;

  background-color: var(--branch-node-border-color);
  transition: background-color 0.1s ease-in-out;
}

.circlePort:hover {
  background-color: var(--port-bg-color-hover);
}

.processingScript {
  margin-top: 10px;
}

//TODO: вынести порты в отдельный класс, чтобы уменьшить дублирование кода
// может портам задавать цвет текущего соединения? Я все равно собирался пилить кастомные соединения
.circlePortIn {
  left: 0;
  top: 50%;
  transform: translateX(-75%) translateY(-50%);
}

.circlePortOut {
  right: 0;
  top: 50%;
  transform: translateX(75%) translateY(-50%);
}

:global(.theme-light) {
  --branch-node-primary-color: #6200ea;
  --branch-node-border-color: #9d46ff;
  --branch-node-hover-color: #4a00b3;
}

:global(.theme-dark) {
  --branch-node-primary-color: #6200ea;
  --branch-node-border-color: #ffffff;
  --branch-node-hover-color: #4a00b3;
}
