.theme-light {
  --font-color: #000000;

  --canvas-background: #fafafa;
  --canvas-dot-color: #e1e1e1;

  --node-content-background-color: #ffffff;
  --node-content-border-color: #e6e6e6;

  --node-selected-color: #f50057;
}

.theme-dark {
  --font-color: #ffffff;

  --canvas-background: #303030;
  --canvas-dot-color: #424242;

  --node-content-background-color: #3f3f3f;
  --node-content-border-color: #474747;

  --node-selected-color: #f50057;
}
