.autocomplete {
  position: absolute;
  top: 0;
  left: 120%;

  &::before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-right-color: var(--label-border-color);
    border-left: 0;
    margin-left: -6px;
    margin-top: 5px;
    z-index: 999;
  }
}

.autocomplete__suggestionsList {
  height: 100px;
  width: auto;
  overflow-y: scroll;

  line-break: normal;

  cursor: pointer;

  position: absolute;
  left: 110%;
  top: 0;
  background: var(--label-background-color);
  border-radius: 5px;
  border: solid 2px var(--label-background-color);

  &::-webkit-scrollbar {
    display: none;
  }
}

.autocomplete__suggestionsListItem {
  display: flex;
}

.autocomplete__suggestionsListItem_active {
  background: #00e5ff;
}