.node__header_theme_sparql {
  background: var(--sparql-node-background-color);
  border: solid 2px var(--sparql-node-border-color);

  &:hover {
    background: var(--sparql-node-hover-color);
  }
}

.node__port_theme_sparql {
  background-color: var(--sparql-node-border-color);

  &:hover {
    background-color: var(--port-background-color-hover);
  }
}

:global(.theme-light) {
  --sparql-node-background-color: #0091ea;
  --sparql-node-border-color: #64c1ff;
  --sparql-node-hover-color: #006eb3;
}

:global(.theme-dark) {
  --sparql-node-background-color: #0091ea;
  --sparql-node-border-color: #ffffff;
  --sparql-node-hover-color: #006eb3;
}
