.node__header_theme_sparql {
  background: var(--sparql-node-background-color);
  border: solid 2px var(--sparql-node-border-color);

  &:hover {
    background: var(--sparql-node-hover-color);
  }
}

.node__port_theme_sparql {
  background-color: var(--sparql-node-border-color);

  &:hover {
    background-color: var(--port-background-color-hover);
  }
}

.sparqlNode__inputLabel {
  width: 100%;
  margin-top: 0.75rem;

  font-weight: 400;
  font-size: 0.75rem;
}

.sparqlNode__input {
  outline: none;

  padding: 2px;
  border: solid 1.5px;
  border-color: var(--node-content-border-color);
  background: var(--node-content-background-color);
  color: var(--font-color);
  border-radius: 3px;

  transition: border-color 0.15s ease-in-out;

  &:focus {
    border-color: var(--sparql-node-border-color);
  }
}

:global(.theme-light) {
  --sparql-node-background-color: #0091ea;
  --sparql-node-border-color: #64c1ff;
  --sparql-node-hover-color: #006eb3;
}

:global(.theme-dark) {
  --sparql-node-background-color: #0091ea;
  --sparql-node-border-color: #ffffff;
  --sparql-node-hover-color: #006eb3;
}
